@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background: linear-gradient(160deg, #00028b 0%, #cd0000 100%);
    background-repeat: no-repeat;
}

.contenido {
    border: solid #ffffff 5px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90%;
    max-width: 600px;
    height: auto;
}
.conteos {
    margin-left: 50px;
    width: 25%;
    align-self: baseline;
}
.conteos p {
    margin: 0;
    padding: 0;
}
.contenedor {
    padding: 0 25px;
    display: flex;
    flex-direction: row;
}
.titulo_eleccion {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}

.boton {
    color: #ffffff;
    font-size: 9vw;
    text-align: center;
    padding: 0.5rem 4rem;
    margin: 10px;
    border: solid #ffffff 5px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    user-select: none;
}

.boton:hover {
    background-color: #ffffff;
    cursor: pointer;
}
.boton:active {
    background-color: #ffffff00;
	border-color: #ffffff00;
}
@media (min-width: 600px) {
    .titulo_eleccion {
        font-size: 2.3rem;
    }

    .boton {
        font-size: 3.4rem;
        padding: 1rem 6rem;
    }
}
@media (max-width: 700px) {
    .conteos {
        display: none;
        margin: 0;
    }
    .contenido {
        width: 90%;
    }
    .contenedor {
        padding: 0;
    }
}
